html{
	background-image:url("https://proyectoviajes-deathdance.c9.io/images/cafe-veranda.jpg");
	background-size: 120%;
}
h1{
	margin-top: 5px;
	padding-top: -5px;
	font: solid 10px Helvetica;
	font-size: 50px;
	color: white;
	text-align: left;
}
#log{
	cursor: pointer;
	font: Helvetica;
    font-weight:bold;
    color:white;
    background: none;
    border:0px;
    width:80px;
    height:19px;
}
#log:hover{
	background-color: #909090;
}
.span{
	display: inline-block;
	text-decoration: none;
}
#top_header{
	position:absolute;
	top:0;
	left:0;
	width:100%; 
	height:80px;
	background-color:rgba(0,0,0,0.7);
}

.menu{
	background: red;
}
.menu a{
	margin-right: 15px;
	text-decoration: none;
	padding: 10px;
	color: white;
}
.menu a:hover{
	background-color: #909090;
	border-radius: 5px;
}
.submenu{
	float: right;
	display: inline-block;
	text-align: center;
}
.submenu input{
	height: 22px;
	border-radius: 5px;
}
#log{
	width: 80px;
	height: 39px;
}
#cuerpo{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 160px;
	margin-right: 10px;
}

#main_section{
	position: relative;
	margin: 10% auto 0% auto;
	width: 90%;
	border-radius: 25px;
	display: -webkit-box;
	-webkit-box-orient: horizotal;
	-webkit-box-pack: left;
	-webkit-box-align: left;
	background-color:rgba(30,30,30,0.8);
	color: white;
	font-size: 20px;
	max-width: 80%;
}
#the_footer{
	text-align: center;
	color: white;
	width:100%;
	height:25px;
	position:absolute;
	font-size: 8px;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0,0.7);
}

#cuerpo{
	margin-left: 45px;
	display: left;
	padding-left: -90px;
	text-align: justify;
	padding-right: 50px;
}
#cuerpo input{
	margin-top: -5px;
	padding-top: -5px;
	height: 14px;
}
#guardar{
	height: 48px;
}
@media screen and (max-width: 1024px){
	#main_section{
		position: relative;
		margin: 18% auto 10% auto;
		width: 90%;
		border-radius: 25px;
		display: -webkit-box;
		-webkit-box-orient: horizotal;
		-webkit-box-pack: left;
		-webkit-box-align: left;
		background-color:rgba(30,30,30,0.8);
		color: white;
		font-size: 13px;
		max-width: 80%;
	}
	.menu{
		margin: -1.7% auto auto auto;
		background-color:rgba(0,0,0,0.7);
		border-top: solid 1px #909090;
		height: 40px;
	}
	.menu a{
		margin-right: 15px;
		text-decoration: none;
		padding: 10px;
		color: white;
		font-size: 14px;
		font-weight:bold;
	}
}
@media screen and (max-width: 600px){
	html{
		background-image:url("https://proyectoviajes-deathdance.c9.io/images/madera.jpg");
		background-size: 120%;
		}
}
@media screen and (max-width: 351px){
	html{
		background-image:url("https://proyectoviajes-deathdance.c9.io/images/europa.jpg");
		background-size: 120%;
	}	
}