<!DOCTYPE html>
<html>
	<head>
		<title>Administrador Diario de viajes</title>
	</head>
	<body>
	    <h1>Usuarios</h1>
	    <ul>
            <% for(var i=0; i<supplies.length; i++) {%>
               <li><%= supplies[i] %></li>
            <% } %>
        </ul>
        
        <input type="button" name="BorrarU" value="Borrar usuario"/>
        
        <h1>Diarios</h1>
        <ul>
            <% for(var i=0; i<supplies.length; i++) {%>
               <li><%= supplies[i] %></li>
            <% } %>
        </ul>
        
        <input type="button" name="BorrarD" value="Borrar diario"/>
        
	</body>
</html>